{% raw %}
<!-- templates/footer.html -->
<footer style="margin-top: 40px; padding: 20px; background:transparent; color:rgb(110, 110, 110)
; text-align: center; border-top: 1px solid #334155;">
    <p style="margin: 5px;">
      📬 Need Help? Contact us at 
      <a href="mailto:support@karefas.edu" style="color: #38bdf8; text-decoration: none;">support@karefas.edu</a>
    </p>
    <p style="font-size: 13px; margin-top: 8px;">
      © 2025 <strong>Kalasalingam University</strong> All rights reserved.
    </p>
  </footer>
{% endraw %}
